/* Общие настройки */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Шрифты Google Fonts */
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff6b6b; /* Акцентный красный оттенок */
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Контейнер для баннеров */
.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1500px; /* Ограничение максимальной ширины контейнера */
}

/* Стили для баннеров */
.banner {
    flex: 1; /* Баннеры будут занимать равное пространство */
    max-width: 45%; /* Ограничение максимальной ширины баннера */
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.banner img {
    width: 100%; /* Ширина изображения занимает всю ширину контейнера */
    height: auto; /* Пропорциональное изменение высоты */
    object-fit: contain; /* Сохраняем соотношение сторон изображения */
    border-radius: 10px; /* Скругленные углы */
}

.banner:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
}

footer {
    margin-top: auto;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

@media screen and (max-width: 600px) { /* Адаптация для мобильных устройств */
    .banner-container {
        flex-direction: column;
    }
}
